.media-box {
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: background-color 0.2s ease-in-out;
}

.media-box:hover {
    background-color: #ccc;
}

.media-box img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}
.available {
    color: green;
    font-weight: bold;
}
.unavailable {
    color: red;
    font-weight: bold;
}